<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"     
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"     
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"     
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd   
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    
  
    <!-- 启用spring mvc 注解,必须项 -->
    <context:annotation-config />
    <!-- AOP使用注解模式,非必须项 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 注解的根路径 -->
   	<context:component-scan base-package="*com.jiao"></context:component-scan>
   	<!-- 文件上传的配置，非必须项，还可以配置文件大小、缓冲流大小、文件类型等 -->
   <!-- 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	   	<property name="maxUploadSize"> 
			<value>104857600</value> 
		</property> 
		<property name="maxInMemorySize"> 
			<value>4096</value> 
		</property>
  	</bean>  -->
  	 <!-- Enables the Spring MVC @Controller programming model -->
    <mvc:annotation-driven />

    <mvc:resources mapping="/**" location="/"/>
   	<!-- 另外最好还要加入DefaultAnnotationHandlerMapping，不然会被 XML或其它的映射覆盖！ -->  
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" /> 
    <!-- 完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    
    <!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" />
	 
       
</beans>
